body{
    color: rgb(74, 69, 69);
    margin: 0;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
p{
    line-height: 2;
}
a{
    color: #0c9673;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: antiquewhite;
}
h1{
    font-size: 60px;
    padding-top: 50px;
    margin: 0 auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-weight: 1px;
    color: #66BFBF;
    line-height: 4;
    
}
h2{
    color: #66BFBF;
    margin: 40px;
}
h3{
    color: #66BFBF;
}
.lower-cloud{
    position:absolute;
    
}
.upper-cloud{
    position: absolute;
    right: 280px;
    top: 30px;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}    
.super{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.super-one{
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    color: grey;
    margin: 50px auto;
}
.middle-container{
    margin: 70px auto;
}
.bottom-container{
    background-color:#66BFBF ;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
.copyright{
    color: antiquewhite;
    font-size: smaller;
}
.btn {
    background: #0c9673;
    background-image: -webkit-linear-gradient(top, #0c9673, #12e8ba);
    background-image: -moz-linear-gradient(top, #0c9673, #12e8ba);
    background-image: -ms-linear-gradient(top, #0c9673, #12e8ba);
    background-image: -o-linear-gradient(top, #0c9673, #12e8ba);
    background-image: linear-gradient(to bottom, #0c9673, #12e8ba);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }